
@import 'variables';
@import 'typography';

body {

	background: $grayGradient;
	position: relative;
	padding: 3% 0 0 0;
	min-height: 100vh;
	overflow: hidden;

	div {

		div {

			div {

				.wrapper {

					background: $whiteOpaque;
					padding: 3%;
					margin: 0 auto;
					color: $gray;

					ul {

						list-style-type: none;

						li {

							a {

								color: $gray;
								transition: all 0.3s;

								&:hover, &:focus {

									color: $purple;
									text-decoration: none;

								}

							}

						}

					}

				}

			}

		}

	}

}

.brand {

	width: 15%;

}

.grid {

	display: grid;
	grid-gap: 15px;
	margin: 15px 0;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(150px, auto);

	.extra-item {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		cursor: pointer;
		transition: all 0.3s;
		color: $blue;

		p {

			a {

				color: $blue;
				text-decoration: none;

				&:hover, &:focus {

					color: $blue;

				}

			}

		}

		.fa {

			display: block;
			margin: 15px 0;
			width: 100%;

		}

	}

	.item {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		cursor: pointer;
		transition: all 0.3s;
		color: $white;

		&:nth-of-type(1) {

			background: $turquoise;

			&:hover, &:focus {

				background: $white;
				color: $turquoise;
				border: 1px solid $turquoise;

			}

		}

		&:nth-of-type(2) {

			background: $green;

			&:hover, &:focus {

				background: $white;
				color: $green;
				border: 1px solid $green;

			}

		}

		&:nth-of-type(3) {

			background: $pink;

			&:hover, &:focus {

				background: $white;
				color: $pink;
				border: 1px solid $pink;

			}

		}

		.fa {

			display: block;
			margin: 15px 0;
			width: 100%;

		}

	}

}